@model IEnumerable<VendorsPortal.Models.Vendor>

<ul class="nav navbar-nav navbar-right">

	@if (Session["vendorId"] == null)
	{
		<li>@Html.ActionLink("Sign in", "Index", "Login", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "navbar-right" })</li>
		<li>@Html.ActionLink("Register", "Create", "Vendors", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "navbar-right" })</li>


	}

</ul>

<ul class="nav navbar-nav navbar-right">
	@if (Session["vendorId"] != null)
	{
	@*<li>
		<i class="fas fa-user-circle">  @Session["BusinessName"].ToString()</i>
	</li>*@


		<li>@Html.ActionLink("Log off", "LogOut", "Login", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "navbar-right" })</li>

		@*@Html.ActionLink("Profile", "Details1", "Home", new { id = Model.FirstOrDefault()?.VendorId  ?? 0 /* Null case*/}, new { @class = "btn btn-default" })*@
	}
</ul>


















