body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



#search{
    margin-top: 130px;
}


.jumbotron-test {
    background-size: cover;
    padding-top: 0px;
    padding-bottom: 0px;
    background-image: url('Images/HomeBG.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    max-width: 1400px;
}



/*Home Index*/


#businessName {
    color: red;
    font-size: 18px;
   padding-top:30px;
}

#firstcell {
    border: 2px solid whitesmoke;
    border-right: none;
    
}


#secondcell {
    border: 2px solid whitesmoke;
    border-left: none;
}

#area {
    border: 2px solid whitesmoke;
}

#type {
    border: 2px solid whitesmoke;
}

#contact {
    border: 2px solid whitesmoke;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: whitesmoke;
}

#buttons {
    border: 2px solid whitesmoke;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: none;
    background-color: whitesmoke;
}

.table1{
    border-collapse: separate;
    border-spacing: 0 40px;
}









